<header tabindex="-1" class="fixed top-0 start-0 z-50 flex w-full h-1/10">
    <nav class=" bg-gray-800 p-4 flex flex-row w-full">
        <div class="w-1/4"></div>
        <div class="w-full h-full flex justify-center">
            <a id="linke" href="https://www.linkedin.com/in/jonathan-q-ly/" class="flex-inital w-10 h-9 bg-contain bg-no-repeat bg-link-light dark:bg-link-dark"></a>
            <a id="git" href= "https://github.com/jqly2" class="flex-inital ml-2 w-10 h-9 bg-contain bg-no-repeat bg-git-light dark:bg-git-dark"></a>
            <a id="email" href="mailto: jonathanly213@gmail.com" class="flex-inital mt-1 w-12 h-9 bg-contain bg-no-repeat bg-email-light dark:bg-email-dark"></a>
        </div>
        <label for="darkModeToggle" class="flex w-1/4 justify-end items-center cursor-pointer animate__animated animate__fadeIn">
            <span id="darkMode" class="mr-4 text-gray-500 text-xl">&#9790;</span> <!-- Moon symbol -->
            <span id="lightMode" style="display: none" class="mr-4 text-yellow-500">&#9728;</span> <!-- Sun symbol -->
            <input type="checkbox" id="darkModeToggle" class="hidden darkModeToggle">
            <div id="toggleHandle" class="relative w-10 h-5 bg-gray-300 dark:bg-gray-600 rounded-full transition duration-300 ease-in-out">
                <div id="toggleButton" class="absolute left-1 top-1 w-4 h-4 bg-white dark:bg-gray-800 rounded-full transition duration-300 ease-in-out transform translate-x-0"></div>
            </div>
        </label>              
    </nav>
</header>