<div class="flex flex-col mt-48 mb-12 items-center w-full h-full mx-auto">
    <div id="title" class="flex flex-col items-center text-center animate-fade-in-up delay-200">
        <h1 class="mb-2 text-5xl font-extrabold tracking-tight md:text-6xl lg:text-7xl">
            Hello there.
        </h1>
        <h1 class="mb-2 text-5xl font-extrabold tracking-tight md:text-6xl lg:text-7xl">
            I am Jonathan.
        </h1>
        <h1 class="mb-6 text-5xl font-extrabold tracking-tight md:text-6xl lg:text-7xl">
            I create websites.
        </h1>
        <h3 class="w-3/4 font-lexend text-lg font-normal text-gray-700 dark:text-gray-300 lg:text-xl">
            I also have many different side projects and interests in gaming and tabletop.
        </h3>
    </div>
</div>
<div class="container mx-auto px-4 w-full mb-12">
    <div class="flex flex-nowrap sm:flex-wrap 2xl:flex-nowrap flex-col sm:flex-row justify-center items-center gap-4 mx-auto">
        <!-- Spell Compendium -->
        <section class="group cardItem flex flex-col max-w-lg h-full w-full rounded-lg overflow-hidden shadow-lg bg-white dark:bg-gray-800 hover:scale-105">
            <div class="cardInfo p-6 text-center">
                <a href="https://jqly2.github.io/dndAPI/spell"
                   class="text-2xl font-bold text-indigo-700 hover:text-blue-400">
                    Spell Compendium
                </a>
                <p class="text-gray-600 dark:text-gray-400 mt-2">
                    A curated library of spells for the latest edition of Dungeons and Dragons.
                </p>
            </div>
            <a href="https://jqly2.github.io/dndAPI/spell"
               class="w-full bg-cover bg-center bg-no-repeat bg-spell-gif h-40 opacity-30 group-hover:opacity-100 transition-opacity duration-300 "></a>
        </section>

        <!-- Eureka Investment -->
        <section class="group cardItem flex flex-col max-w-lg h-full w-full rounded-lg overflow-hidden shadow-lg bg-white dark:bg-gray-800 hover:scale-105">
            <div class="cardInfo p-6 text-center">
                <a href="https://www.eurekainv.com/"
                   class="text-2xl font-bold text-indigo-700 hover:text-blue-400">
                    Eureka Investment
                </a>
                <p class="text-gray-600 dark:text-gray-400 mt-2">
                    A visual analytics tool for prime real estate based in the Bay Area.
                </p>
            </div>
            <a href="https://www.eurekainv.com/"
               class="w-full bg-cover bg-center bg-no-repeat bg-eureka-gif h-40 opacity-30 group-hover:opacity-100 transition-opacity duration-300"></a>
        </section>

        <!-- Figure -->
        <section class="group cardItem flex flex-col max-w-lg h-full w-full rounded-lg overflow-hidden shadow-lg bg-white dark:bg-gray-800 hover:scale-105">
            <div class="cardInfo p-6 text-center">
                <a href="https://figure-design.github.io/landing-page/"
                   class="text-2xl font-bold text-indigo-700 hover:text-blue-400">
                    Figure
                </a>
                <p class="text-gray-600 dark:text-gray-400 mt-2 h-12">
                    An Architecture Firm based in San Francisco Bay Area.
                </p>
            </div>
            <a href="https://figure-design.github.io/landing-page/"
               class="w-full bg-cover bg-center bg-no-repeat bg-figure-gif h-40 opacity-30 group-hover:opacity-100 transition-opacity duration-300"></a>
        </section>
    </div>
</div>

