<div class="flex flex-col mt-48 item-center w-full h-full mx-auto mr-4">
    <div id="title" class="flex flex-1 w-full flex-col content-center items-center">
        <div class="flex-1"></div>
        <div class="flex flex-col items-center w-full">
            <h1 class="flex-1 mb-1 text-4xl text-center font-extrabold leading-none tracking-tight md:text-5xl lg:text-6xl ">
                Hello there.
            </h1>
            <h1 class="flex-1 mb-1 text-4xl text-center font-extrabold leading-none tracking-tight md:text-5xl lg:text-6xl ">
                Names Jonathan.
            </h1>
            <h1 class="flex-1 mb-7 text-4xl text-center font-extrabold leading-none tracking-tight md:text-5xl lg:text-6xl">
                I create websites.
            </h1>
            <h3 class="w-3/4 flex-inital font-lexend text-center mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">
                I also have many different side projects and interest in gaming and tabletop.
            </h3>
        </div>
        <div class="flex-1"></div>
    </div>
    <div class="flex flex-1 flex-col w-full items-center mt-16">

        <section class="cardItem flex flex-col flex-1 w-1/2">
            <div class="cardInfo flex-1 text-center">
                <a href="https://jqly2.github.io/dndAPI/spell" class="underline underline-offset-2 text-2xl font-bold mt-8 text-indigo-700 hover:text-blue-300">Spell Compendium</a>
                <p class="text-gray-600 mb-8">A curated library of spells for the latest edition of the tabletop game, Dungeons and Dragons.</p>
            </div>
            <button class="flex-1 w-full bg-cover bg-center bg-no-repeat bg-spell-static opacity-20 hover:opacity-100 hover:bg-spell-gif">
                <a href="https://jqly2.github.io/dndAPI/spell" class="h-full flex items-center justify-center "></a>
            </button>
        </section>
        
        <hr class="w-3/4 border-t-2 border-grey-500  mt-8 mb-8">
        
        <section class="cardItem flex flex-col flex-1 w-1/2">
            <div class="cardInfo flex-1 text-center">
                <a href="https://www.eurekainv.com/" class="underline underline-offset-2 text-2xl font-bold mt-8 text-indigo-700 hover:text-blue-300">Eureka Investment</a>
                <p class="text-gray-600 mb-8">A visual analytics for prime real estate currently based around the Bay Area.</p>
            </div>
            <button class="flex-1 w-full bg-cover bg-center bg-no-repeat opacity-10 hover:opacity-100 bg-eureka-static hover:bg-eureka-gif">
                <a href="https://www.eurekainv.com/" class="h-full w-full flex items-center justify-center">
                </a>
            </button>
        </section>

        <hr class="w-3/4 border-t-2 border-grey-500 mt-8 mb-8">

        <section class="cardItem flex flex-col flex-1 w-1/2">
            <div class="cardInfo flex-1 text-center">
                <a href="https://figure-design.github.io/landing-page/" class="underline underline-offset-2 text-2xl font-bold mt-8 text-indigo-700 hover:text-blue-300">Figure</a>
                <p class="text-gray-600 mb-8">An Architecture Firm based in San Francisco</p>
            </div>
            <button class="flex-1 w-full bg-cover bg-center bg-no-repeat opacity-20 hover:opacity-100 bg-figure-static hover:bg-figure-gif">
                <a href="https://figure-design.github.io/landing-page/" class="h-full flex items-center justify-center"></a>
            </button>
        </section>
    </div>
</div>
